<!doctype html>
<html>
	<head>
		<title>Your Habits - My account</title>
		<link rel="stylesheet" href="\DefaultCSS.css">
		<script src="JavaScript\AccountScript.js"></script>
	</head>

	<body>
		<div class="block" id="headblock">
			<h1>Your Habits</h1>
			<img id="logo" src="Images/Logo.png" alt="our logo">
			<nav>
		 	<a href="Tracker.html">My Tracker</a>
		 	<a href="FAQ.html">FAQ</a>
			<a href="index.html">Log out</a>
	 		</nav><br><br><br><br>
	 	</div>

		<h2>Your account</h2>
		<p>Welcome <%= name %></p>
	</body>

</html>